# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
coverage-report/
maven-wrapper.jar

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.loadpath
.recommenders

# Visual Studio Code
.vscode/
.factorypath